<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pasta Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Pasta Detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="content">
    <ion-card>
      <img [src]="pastas.url" />
      <ion-card-header>
        <ion-card-title>{{pastas.name}}</ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>{{pastas.description}}</ion-item>
          <ion-item>Price : {{pastas.price}}</ion-item>
          <ion-label>
            Pasta Recipe Instructions:
          </ion-label>
          <ol>
            <li *ngFor="let ins of pastas.instructions">
              {{ins.instruction}}
            </li>
          </ol>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-item>
      Add New Instruction
    </ion-item>
    <ion-item>
      <ion-input label="Step No. {{new_step}}" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea label="Instruction" placeholder="Type instruction here" [(ngModel)]="new_instruction"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-button id="btnSubmit" (click) = "AddInstruction()">Add</ion-button>
      <ion-alert trigger="btnSubmit" header="Instruction" message="Data has been successfully stored" 
      [buttons]="alertButton"></ion-alert>
    </ion-item>

  </div>
</ion-content>
